/*RESET START*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0 auto;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1;
  font-weight: 300; }

/*General reset*/
h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

img {
  max-width: 100%; }

a {
  color: #000; }

a {
  cursor: pointer; }

a {
  color: #56819f;
  text-decoration: none; }
  a:hover {
    color: #ffa200; }

ul {
  margin: 0;
  list-style: none;
  padding: 0; }

li {
  list-style-type: none; }

input, select, textarea {
  outline: none;
  border: none; }

textarea {
  resize: vertical; }

button {
  cursor: pointer; }

label {
  margin-bottom: 0; }

.btn {
  outline: none; }

:focus {
  outline: none; }

/*RESET END*/
.section-title, .page-title {
  color: #a6a6a6;
  font-size: 16px; }

.page-title {
  text-transform: uppercase; }

.link {
  font-size: 13px;
  color: #56819f; }
  .link.large-link {
    font-size: 16px; }

.gide-wrap {
  padding: 20px; }
  .gide-wrap > * {
    margin-bottom: 15px; }
