//COMPONENT

//.page-title{
//  font-size: $titleFontSize;
//  color: $titleColor;
//  text-transform: uppercase;
//}
//
//.section-title{
//  @extend .page-title;
//  text-transform: none;
//}



%title{
  color: $titleColor;
  font-size: $titleFontSize;
}

.section-title{
  @extend %title;
}

.page-title{
  @extend %title;
  text-transform: uppercase;
}

.link{
  font-size: $linkFontSizeDef;
  color: $linkColor;

  &.large-link{
    font-size: $linkLargeFont;
  }
}