//COMPONENT

//.page-title{
//  font-size: $titleFontSize;
//  color: $titleColor;
//  text-transform: uppercase;
//}
//
//.section-title{
//  @extend .page-title;
//  text-transform: none;
//}


// TITLE

%title{
  color: $titleColor;
  font-size: $titleFontSize;
  font-weight: $fontBold;
}

.section-title{
  @extend %title;
}

.page-title{
  @extend %title;
  text-transform: uppercase;
}


// LINKS


.link{
  font-size: $linkFontSizeDef;
  color: $linkColor;

  &.large-link{
    font-size: $linkLargeFont;
  }
  
  &:hover{
    color: $linkHoverColor;
  }
}

//Button


.btn{
  padding: 12px 22px;
  font-size: $btnFontSize;
  border-radius: 2px;
  display: inline-block;
  color: $btnDefaultColor;

  &.btn-default{
    background-color: $btnDefaultBg;

    &:hover{
      background-color: $btnDefaultBgHover;
    }
  }

  &.btn-action{

    background-color: $btnActionBg;

    &:hover{
      background-color: $btnActionBgHover;
    }
  }

  &.btn-disabled{

    background-color: $btnDisablesBg;
    cursor: not-allowed;

    &:hover{
      background-color: $btnDisablesBgHover;
    }

  }
}

//Table

.table{
  border-collapse: collapse;
  font-size: $tableFontSize;

  tbody {

    tr{
      &:hover {
        background-color: $tableTrHover;
      }
    }

  }

  tr{

    th{
      padding: 33px 18px;
      color: $grey;
    }

    td{
      padding: 20px 18px;
      border-top: 1px solid $lightGrey;

      &.td-title{
        font-size: 16px;
        color: $grey;
      }

    }

    .table-sort{
      color: $grey;
      padding: 8px 10px;
      margin: 8px -10px;
      border-radius: 2px;

      &:hover{
        color: $black;
        background-color: $xsLightGrey;
      }

    }
  }

}


































