//FONT VARIABLES

$fontFamily: 'Roboto', sans-serif;
$fontLight: 300;
$fontRegular: 400;
$fontMedium: 500;
$fontBold: 700;
$lineHeight: 1;
$fontSize: 14px;

//Color var

$black: #333;
$darkGrey: #979797;
$grey: #bababa;
$lightGrey: #e3e3e3;
$xsLightGrey: #f5f5f2;

$orange: #f58220;
$orangeLite: #ffa200;

$green: #04ae00;
$lightGreen: #74b67a;
$xsLightGreen: #96cc9b;

$red: #ff0000;
$pink: #de5252;
$lightPink: #ec7171;

$blue: #56819f;

// Component Var
$linkColor: #56819f;
$linkHoverColor: #ffa200;


